<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context = "http://www.springframework.org/schema/context"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">
   <context:annotation-config/>
	<bean id="student" class="com.example.pojo.Student2" init-method="init" destroy-method="customDestroy">
		<property name="name" value="Dinesh Malik" />
		<property name="age" value="29" />
		<property name="subjects">
		<set>
		<value>English</value>
		<value>Hindi</value>
		</set>
		</property>
		<constructor-arg index="0" value="28" />
		<constructor-arg index="1" value="Dinesh"/>
		<property name="address" ref="adress"/>
	</bean>
	<bean id ="adress" class="com.example.pojo.Address2">
	<property name="pincode" value ="122001"/>
	<property name="address" value="Sector 52 Gurgaon"/>
	</bean>
	<bean id="scienceStudent" class = "com.example.pojo.Student2" parent="student">
	<property name="subjects">
	<set merge="true">
	<value>Physics</value>
	<value>Chemistry</value>
	<value>Math</value>
	</set>
	</property>
	</bean>
<!-- 	<bean id ="adress2" class="com.example.pojo.Address"> -->
<!--   <property name="pincode" value ="122002"/> -->
<!--   <property name="address" value="Sector 27 Gurgaon"/> -->
<!--   </bean> -->
<bean id = "requestManagerOld" class="com.example.pojo.RequestManagerOld">
<property name="reqHandler" ref="requestHandler"></property>
</bean>
<bean id = "requestManager" class="com.example.pojo.RequestManager">
<lookup-method name="getRequestHandler" bean="requestHandler"/>
</bean>
<bean id="requestHandler" class="com.example.pojo.RequestHandler" scope="prototype"></bean>
</beans>